  /*---------------------------------*/
  
  
  .reveal, .reveal  h2 .title  {
      color: white;
      text-transform: capitalize;
  }
  
  .reveal ul.no-bullet {
    list-style-type: none;
}

.reveal h3 {
  font-size: 1.1em;
  margin-bottom: 10px;
}

  
  