<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>Angular Advanced - Advanced Routing</title>

  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

  <link rel="icon" href="../common/img/favicon.ico">

  <link rel="stylesheet" href="../reveal.js-3.6.0/css/reveal.css">
  <link rel="stylesheet" href="../reveal.js-3.6.0/css/theme/white.css">
  <link rel="stylesheet" href="../common/css/common.css">

  <!-- Theme used for syntax highlighting of code -->
  <link rel="stylesheet" href="../reveal.js-3.6.0/lib/css/zenburn.css">

  <!-- Printing and PDF exports -->
  <script>
    var link = document.createElement('link');
    link.rel = 'stylesheet';
    link.type = 'text/css';
    link.href = window.location.search.match(/print-pdf/gi) ? '../reveal.js-3.6.0/css/print/pdf.css' : '../reveal.js-3.6.0/css/print/paper.css';
    document.getElementsByTagName('head')[0].appendChild(link);
  </script>
  <style>
    .ng-universal {
      --bg-color: var(--cap-white);
      --link-color: var(--cap-gray);
    }

    code:not(.hljs) {
      color: var(--cap-gray);
    }
  </style>
</head>

<body class="ng-universal">
  <div class="devon reveal">
    <div class="slides">
      <section data-background-image="../common/img/shapes/Fixed_Shape_2_SVG/Fixed_Shape_2_CapgeminiBlue_RGB.svg">
        <h3 class="white">Advanced Routing</h3>
        <h4 class="white">August 2018 State</h4>
      </section>

      <section id="agenda-1" data-transition="slide" data-background-image="../common/img/shapes/Fixed_Shape_2_SVG/Fixed_Shape_2_CapgeminiBlue_RGB.svg">
        <h2 class="white">Agenda</h2>

        <body class="white">
          <ul>
            <li>
              <a href="#/routerEventsHowTo">Router Events HowTo</a>
            </li>
            <li>
              <a href="#/canDeactivateGuard">CanDeactivate Guard</a>
            </li>
            <li>
              <a href="#/canActivateGuard">CanActivate Guard</a>
            </li>
<!-- TODO lazy loading and child routes-->
          </ul>
        </body>
      </section>

      <section id="startup" data-transition="slide" data-background-image="../common/img/shapes/Fixed_Shape_2_SVG/Fixed_Shape_2_CapgeminiBlue_RGB.svg">
        <h2 class="white">Introduction to the App</h2>

        <body class="white">
          <ul>
            <li>Repo: <a href="https://github.com/devonfw-ng-adv-training/advanced-routing">Here</a> </li>
            <li>what is the app about</li>
            <li>Technical features (server, forms, guards)</li>
          </ul>
        </body>
      </section>

      <!-- Router Events -->
      <section>
        <section id="routerEventsHowTo" data-transition="slide" data-background-image="../common/img/shapes/Fixed_Shape_3_SVG/Fixed_Shape_3_CapgeminiLightBlue_RGB.svg">
          <h2 class="white">Router Events </h2>

          <body class="white">
            <ul>
              <li>Routing Basics</li>
              <li>Feature Target</li>
              <li>Steps</li>
            </ul>
          </body>
        </section>

        <section data-transition="slide" data-background-image="../common/img/shapes/Fixed_Shape_3_SVG/Fixed_Shape_3_CapgeminiLightBlue_RGB.svg">
          <h2 class="white">Routing Basics</h2>

          <body class="white">
            <img src="img/routing.png" />
            <small>
              <a href="https://vsavkin.com/angular-2-router-d9e30599f9ea">https://vsavkin.com/angular-2-router-d9e30599f9ea</a>
            </small>
          </body>
        </section>

        <section data-transition="slide" data-background-image="../common/img/shapes/Fixed_Shape_3_SVG/Fixed_Shape_3_CapgeminiLightBlue_RGB.svg">
          <h2 class="white">Feature Target</h2>

          <body class="white">
            Display a spinner in case the application is waiting for the data being loaded and seems not to be responding.
          </body>
              <div class="footer">
                  Start Branch: 0-start
                  <br> 
                  End Branch: 1-router-events
                </div>
        </section>

        <section data-transition="slide" data-background-image="../common/img/shapes/Fixed_Shape_3_SVG/Fixed_Shape_3_CapgeminiLightBlue_RGB.svg">
          <h2 class="white">Step 1</h2>

          <body class="white">
            To observe the unwanted behaviour lets add a delay to our Service.

            <pre style="margin: 0; width: 100%"><code class="hljs ts" data-trim>
              findOne(id: number): Observable&lt;Book&gt; {
                return this.http.get&lt;Book&gt;(BookService.BOOK_URI + '/' + id)
                  .pipe(delay(1000));
              }
            </code></pre> How does the app behave now?
          </body>
        </section>

        <section data-transition="slide" data-background-image="../common/img/shapes/Fixed_Shape_3_SVG/Fixed_Shape_3_CapgeminiLightBlue_RGB.svg">
          <h2 class="white">Step 2</h2>

          <body class="white">
            To be sure that it is the resolve that is causing the issue lets trace it.

            <pre style="margin: 0; width: 100%"><code class="hljs ts" data-trim>
              RouterModule.forRoot(routes, { enableTracing: true }),
            </code></pre> See the resolve now?
          </body>
        </section>

        <section data-transition="slide" data-background-image="../common/img/shapes/Fixed_Shape_3_SVG/Fixed_Shape_3_CapgeminiLightBlue_RGB.svg">
          <h2 class="white">Step 3</h2>

          <body class="white">
            Lets handle the ResolveStart - ResolveEnd case and show something special

            <pre style="margin: 0; width: 100%"><code class="hljs ts" data-trim>
              export class AppComponent {
                isLoadingData = false;
                
                constructor(private router: Router) {
                  router.events.subscribe((routerEvent: RouterEvent) => {
                    this.checkRouterEvent(routerEvent);
                  });
                }
            </code></pre>

          </body>
        </section>

        <section data-transition="slide" data-background-image="../common/img/shapes/Fixed_Shape_3_SVG/Fixed_Shape_3_CapgeminiLightBlue_RGB.svg">
          <h2 class="white">Step 4</h2>

          <body class="white">
            <pre style="margin: 0; width: 100%"><code class="hljs ts" data-trim>
              checkRouterEvent(routerEvent: RouterEvent): void {
                if (routerEvent instanceof ResolveStart) {
                  this.isLoadingData = true;
                }
                if (routerEvent instanceof ResolveEnd ||
                    routerEvent instanceof NavigationCancel ||
                    routerEvent instanceof NavigationError) {
                    this.isLoadingData = false;
                  }
              }
            </code></pre>

          </body>
        </section>

        <section data-transition="slide" data-background-image="../common/img/shapes/Fixed_Shape_3_SVG/Fixed_Shape_3_CapgeminiLightBlue_RGB.svg">
          <h2 class="white">Step 5</h2>

          <body class="white">
            The template can now use the isLoadingData flag now.

            <pre style="margin: 0; width: 100%"><code class="hljs html" data-trim>
                    <div class="loader" *ngIf="isLoadingData"></div>
                    <router-outlet *ngIf="!isLoadingData"></router-outlet>
            </code></pre>

          </body>
        </section>

        <section data-transition="slide" data-background-image="../common/img/shapes/Fixed_Shape_3_SVG/Fixed_Shape_3_CapgeminiLightBlue_RGB.svg">
          <h2 class="white">Final Step</h2>

          <body class="white">
            Lets tweak it with some CSS

            <pre style="margin: 0; width: 100%"><code class="hljs css" data-trim>
                .loader {
                  border: 16px solid #f3f3f3; /* Light grey */
                  border-top: 16px solid #3498db; /* Blue */
                  border-radius: 50%;
                  width: 120px;
                  height: 120px;
                  animation: spin 2s linear infinite;
                }
                @keyframes spin {
                  0% { transform: rotate(0deg); }
                  100% { transform: rotate(360deg); }
                }
            </code></pre>

          </body>
        </section>

      </section>

      <section>
      <section data-transition="slide" data-background-image="../common/img/shapes/Fixed_Shape_2_SVG/Fixed_Shape_2_CapgeminiBlue_RGB.svg">
        <h2 class="white">Guards Details</h2>

        <body class="white">
          Currently there are 4 Guards definded by Angular
          <ul>
            <li> CanActivate - Decides if a route can be activated</li>
            <li> CanActivateChild - Decides if children routes of a route can be activated</li>
            <li> CanDeactivate - Decides if a route can be deactivated</li>
            <li> CanLoad - Decides if a module can be loaded lazily</li>
          </ul>
        </body>
      </section>

      <section data-transition="slide" data-background-image="../common/img/shapes/Fixed_Shape_2_SVG/Fixed_Shape_2_CapgeminiBlue_RGB.svg">
        <h2 class="white">CanActivate</h2>

        <body class="white">
            <pre style="margin: 0; width: 100%"><code class="hljs ts" data-trim>
interface CanActivate {
  canActivate(route: ActivatedRouteSnapshot, 
              state: RouterStateSnapshot): 
              Observable&lt;boolean | UrlTree&gt; | 
              Promise&lt;boolean | UrlTree&gt; | 
              boolean | 
              UrlTree
}
            </code></pre>

          <small>
              <a href="https://angular.io/api/router/CanActivate">https://angular.io/api/router/CanActivate</a>
            </small>
        </body>
      </section>

      <section data-transition="slide" data-background-image="../common/img/shapes/Fixed_Shape_2_SVG/Fixed_Shape_2_CapgeminiBlue_RGB.svg">
        <h2 class="white">CanActivateChild</h2>

        <body class="white">
            <pre style="margin: 0; width: 100%"><code class="hljs ts" data-trim>
interface CanActivateChild {
  canActivateChild(route: ActivatedRouteSnapshot, 
              state: RouterStateSnapshot): 
              Observable&lt;boolean | UrlTree&gt; | 
              Promise&lt;boolean | UrlTree&gt; | 
              boolean | 
              UrlTree
}
            </code></pre>

          <small>
              <a href="https://angular.io/api/router/CanActivateChild">https://angular.io/api/router/CanActivateChild</a>
            </small>
        </body>
      </section>

      <section data-transition="slide" data-background-image="../common/img/shapes/Fixed_Shape_2_SVG/Fixed_Shape_2_CapgeminiBlue_RGB.svg">
        <h2 class="white">CanDeactivate</h2>

        <body class="white">
            <pre style="margin: 0; width: 100%"><code class="hljs ts" data-trim>
interface CanDeactivate&lt;T&gt; {
  canDeactivate(component: T, 
                currentRoute: ActivatedRouteSnapshot, 
                currentState: RouterStateSnapshot, 
                nextState?: RouterStateSnapshot): 
                Observable&lt;boolean | UrlTree&gt; | 
                Promise&lt;boolean | UrlTree&gt; | 
                boolean | 
                UrlTree
}
            </code></pre>

          <small>
              <a href="https://angular.io/api/router/CanDeactivate">https://angular.io/api/router/CanDeactivate</a>
            </small>
        </body>
      </section>

      <section data-transition="slide" data-background-image="../common/img/shapes/Fixed_Shape_2_SVG/Fixed_Shape_2_CapgeminiBlue_RGB.svg">
        <h2 class="white">CanLoad</h2>

        <body class="white">
            <pre style="margin: 0; width: 100%"><code class="hljs ts" data-trim>
interface CanLoad {
  canLoad(route: Route, 
          segments: UrlSegment[]): 
          Observable&lt;boolean&gt; | 
          Promise&lt;boolean&gt; | 
          boolean
} 
            </code></pre>

          <small>
              <a href="https://angular.io/api/router/CanLoad">https://angular.io/api/router/CanLoad</a>
            </small>
        </body>
      </section>
    </section>

      <!-- CanDeactivate Guard -->
      <section>
        <section id="canDeactivateGuard" data-transition="slide" data-background-image="../common/img/shapes/Fixed_Shape_3_SVG/Fixed_Shape_3_CapgeminiLightBlue_RGB.svg">
          <h2 class="white">CanDeactivate</h2>

          <body class="white">
            <ul>
              <li>Feature Target</li>
              <li>Steps</li>
            </ul>
          </body>
        </section>

        <section data-transition="slide" data-background-image="../common/img/shapes/Fixed_Shape_3_SVG/Fixed_Shape_3_CapgeminiLightBlue_RGB.svg">
          <h2 class="white">Feature Target</h2>

          <body class="white">
            Prevent the user from leaving a dirty form unless he confirms his actions.
          </body>
          <div class="footer">
              Start Branch: 1-router-events
              <br> 
              End Branch: 2-can-deactivate
            </div>
        </section>

        <section data-transition="slide" data-background-image="../common/img/shapes/Fixed_Shape_3_SVG/Fixed_Shape_3_CapgeminiLightBlue_RGB.svg">
          <h2 class="white">Step 1</h2>

          <body class="white">
            Lets define an DirtyAware Interface at (rename the folder):

            <pre style="margin: 0; width: 100%"><code class="hljs bash" data-trim>
                  src/app/shared/routing/dirty-aware.ts
              </code></pre> And inside:
            <pre style="margin: 0; width: 100%"><code class="hljs ts" data-trim>
                  export interface DirtyAware {
                    isDirty(): boolean;
                  }
              </code></pre>

          </body>
        </section>

        <section data-transition="slide" data-background-image="../common/img/shapes/Fixed_Shape_3_SVG/Fixed_Shape_3_CapgeminiLightBlue_RGB.svg">
          <h2 class="white">Step 2</h2>

          <body class="white">
            Now we can create an abstract guard service implementing a CanDeactivate
            <DirtyAware> interface

              <pre style="margin: 0; width: 100%"><code class="hljs bash" data-trim>
                      src/app/shared/routing/can-deactivate-guard.service.ts
                  </code></pre> And inside:
              <pre style="margin: 0; width: 100%"><code class="hljs ts" data-trim>
                      @Injectable()
                      export class CanDeactivateGuard implements CanDeactivate&lt;DirtyAware&gt; {
                        
                        canDeactivate(): Observable&lt;boolean&gt; | boolean {
                          return false;
                        }

                      }
                  </code></pre>

          </body>
        </section>

        <section data-transition="slide" data-background-image="../common/img/shapes/Fixed_Shape_3_SVG/Fixed_Shape_3_CapgeminiLightBlue_RGB.svg">
          <h2 class="white">Step 3</h2>

          <body class="white">
            Now, having a dummy guard, lets connect it to our existing Routing at routes.ts

            <pre style="margin: 0; width: 100%"><code class="hljs ts" data-trim>
                ...
                  component: BookDetailsComponent,
                  resolve: {
                    book: BookDetailsResolver
                  },
                  canDeactivate: [CanDeactivateGuard]
                },
                {
                  path: 'book',
                  component: BookDetailsComponent,
                  canDeactivate: [CanDeactivateGuard]
                },
                ...
              </code></pre> Try it now.

          </body>
        </section>

        <section data-transition="slide" data-background-image="../common/img/shapes/Fixed_Shape_3_SVG/Fixed_Shape_3_CapgeminiLightBlue_RGB.svg">
          <h2 class="white">Step 4</h2>

          <body class="white">
            Naturally, it is not present in the app.module.ts - providers part, adapt it.

            <pre style="margin: 0; width: 100%"><code class="hljs ts" data-trim>
                  @NgModule({
                    ...,
                    imports: [
                      ...
                    ],
                    providers: [CanDeactivateGuard],
                    bootstrap: [AppComponent]
                  })
              </code></pre>

          </body>
        </section>

        <section data-transition="slide" data-background-image="../common/img/shapes/Fixed_Shape_3_SVG/Fixed_Shape_3_CapgeminiLightBlue_RGB.svg">
          <h2 class="white">Step 5</h2>

          <body class="white">
            Now it is time to make use of the DirtyAware interface.

            <pre style="margin: 0; width: 100%"><code class="hljs ts" data-trim>
                export class BookDetailsComponent implements OnInit, DirtyAware {
            </code></pre> 
              
            and the implmementation:
            <pre style="margin: 0; width: 100%"><code class="hljs ts" data-trim>
                  isDirty(): boolean {
                    return this.bookForm.dirty && !this.submitted;
                  }
            </code></pre>

          </body>
        </section>

        <section data-transition="slide" data-background-image="../common/img/shapes/Fixed_Shape_3_SVG/Fixed_Shape_3_CapgeminiLightBlue_RGB.svg">
          <h2 class="white">Step 6</h2>

          <body class="white">
            The Guard itself also needs to use it

            <pre style="margin: 0; width: 100%"><code class="hljs ts" data-trim>
                canDeactivate(
                  component: DirtyAware
                ): Observable&lt;boolean&gt; | boolean {

                  if (!component.isDirty()) {
                    return true;
                  }

                  return false;
                }
            </code></pre>

          </body>
        </section>

        <section data-transition="slide" data-background-image="../common/img/shapes/Fixed_Shape_3_SVG/Fixed_Shape_3_CapgeminiLightBlue_RGB.svg">
          <h2 class="white">Step 7</h2>

          <body class="white">
            Improve the UX - ask the User now

            <pre style="margin: 0; width: 100%"><code class="hljs ts" data-trim>
                canDeactivate(
                  component: DirtyAware
                  ): Observable&lt;boolean&gt; | boolean {
                    
                  if (!component.isDirty()) {
                    return true;
                  }
              
                  if (confirm('Are you sure to cancel?')) {
                    return true;
                  }
              
                  return false;
                }
            </code></pre>

          </body>
        </section>

        <section data-transition="slide" data-background-image="../common/img/shapes/Fixed_Shape_3_SVG/Fixed_Shape_3_CapgeminiLightBlue_RGB.svg">
          <h2 class="white">Step 8*</h2>

          <body class="white">
            Rework the modal dialog to use the Material Design. Generate a new Component

            <pre style="margin: 0; width: 100%"><code class="hljs ts" data-trim>
              ng g c can-deactivate-dialog
          </code></pre>

          </body>
        </section>

        <section data-transition="slide" data-background-image="../common/img/shapes/Fixed_Shape_3_SVG/Fixed_Shape_3_CapgeminiLightBlue_RGB.svg">
          <h2 class="white">Step 9*</h2>

          <body class="white">
            Invoke it when the can-deactivate-guard is triggered

            <pre style="margin: 0; width: 100%"><code class="hljs ts" data-trim>
              constructor(public dialog: MatDialog) {}

              ...
              const dialogRef = this.dialog.open(CanDeactivateDialogComponent);
              return dialogRef.afterClosed().pipe(
                map(result => {
                  if (result) {
                    return true;
                  }
                    return false;
                })
              );
          </code></pre>

          </body>
        </section>

        <section data-transition="slide" data-background-image="../common/img/shapes/Fixed_Shape_3_SVG/Fixed_Shape_3_CapgeminiLightBlue_RGB.svg">
          <h2 class="white">Step 10*</h2>

          <body class="white">
            This does not work now because of a very good reason.

            <pre style="margin: 0; width: 100%"><code class="hljs ts" data-trim>
                BookModule,
                MatDialogModule
              ],
              entryComponents: [CanDeactivateDialogComponent],
              providers: [CanDeactivateGuard],
          </code></pre>

          </body>
        </section>

        <section data-transition="slide" data-background-image="../common/img/shapes/Fixed_Shape_3_SVG/Fixed_Shape_3_CapgeminiLightBlue_RGB.svg">
          <h2 class="white">Step 11*</h2>

          <body class="white">
            Now, lets tweak the dialog so it displays something meaningfull.

            <pre style="margin: 0; width: 100%"><code class="hljs ts" data-trim>
                <h2 mat-dialog-title>Discard changes</h2>
                <mat-dialog-content>Are you sure?</mat-dialog-content>
                <mat-dialog-actions>
                  <button mat-raised-button color="primary" mat-button [mat-dialog-close]="false">No</button>
                  <button mat-button [mat-dialog-close]="true">Yes</button>
                </mat-dialog-actions>
          </code></pre>

          </body>
        </section>

        <section data-transition="slide" data-background-image="../common/img/shapes/Fixed_Shape_3_SVG/Fixed_Shape_3_CapgeminiLightBlue_RGB.svg">
          <h2 class="white">Step 12*</h2>

          <body class="white">
            Repair the declarations of the dialog component, so it works.

            <pre style="margin: 0; width: 100%"><code class="hljs ts" data-trim>
                @NgModule({
                  declarations: [AppComponent,
                    CanDeactivateDialogComponent],
                  imports: [
          </code></pre>

          </body>
        </section>


      </section>

      <!-- CanActivate Guard -->
      <section>
        <section id="canActivateGuard" data-transition="slide" data-background-image="../common/img/shapes/Fixed_Shape_3_SVG/Fixed_Shape_3_CapgeminiLightBlue_RGB.svg">
          <h2 class="white">CanActivate</h2>

          <body class="white">
            <ul>
              <li>Feature Target</li>
              <li>Steps</li>
            </ul>
          </body>
        </section>

        <section data-transition="slide" data-background-image="../common/img/shapes/Fixed_Shape_3_SVG/Fixed_Shape_3_CapgeminiLightBlue_RGB.svg">
          <h2 class="white">Feature Target</h2>

          <body class="white">
            Allow adding new Books only for those Users having a concrete permission.
          </body>
          <div class="footer">
              Start Branch: 2-can-deactivate
              <br> 
              End Branch: 3-authorization
            </div>
        </section>

        <section data-transition="slide" data-background-image="../common/img/shapes/Fixed_Shape_3_SVG/Fixed_Shape_3_CapgeminiLightBlue_RGB.svg">
          <h2 class="white">Step 1</h2>

          <body class="white">
              Create a Roles Object 

              <pre style="margin: 0; width: 100%"><code class="hljs ts" data-trim>
                  export enum Role {
                    ANONYMOUS, ADMIN
                  }
            </code></pre>

          </body>
        </section>

        <section data-transition="slide" data-background-image="../common/img/shapes/Fixed_Shape_3_SVG/Fixed_Shape_3_CapgeminiLightBlue_RGB.svg">
          <h2 class="white">Step 2</h2>

          <body class="white">
              Extend the Routes so they are able to hold the Roles that will guard them.

              <pre style="margin: 0; width: 100%"><code class="hljs ts" data-trim>
                  export interface AuthorizedRoute extends Route {
                    authorizedRoles?: Role[];
                    permitAll?: boolean;
                    children?: AuthorizedRoutes;
                  }

                  export declare type AuthorizedRoutes = AuthorizedRoute[];
            </code></pre>

          </body>
        </section>

        <section data-transition="slide" data-background-image="../common/img/shapes/Fixed_Shape_3_SVG/Fixed_Shape_3_CapgeminiLightBlue_RGB.svg">
          <h2 class="white">Step 3</h2>

          <body class="white">
              Overwrite the Routing configuration and provide some Role definitions

              <pre style="margin: 0; width: 100%"><code class="hljs ts" data-trim>
                ...
                permitAll: true
                ...

                path: 'book',
                component: BookDetailsComponent,
                canDeactivate: [CanDeactivateGuard],
                authorizedRoles: [Role.ADMIN]
              },
            </code></pre>

          </body>
        </section>
        
        <section data-transition="slide" data-background-image="../common/img/shapes/Fixed_Shape_3_SVG/Fixed_Shape_3_CapgeminiLightBlue_RGB.svg">
          <h2 class="white">Step 4</h2>

          <body class="white">
            Trigger reset config so the router can actually use the guards.

              <pre style="margin: 0; width: 100%"><code class="hljs ts" data-trim>
                  export class AppModule {
                    constructor (private router: Router) {
                          // add security checkers
                          router.resetConfig(addAuthorizationGuards(routes));
                    }
            </code></pre>

          </body>
        </section>

        <section data-transition="slide" data-background-image="../common/img/shapes/Fixed_Shape_3_SVG/Fixed_Shape_3_CapgeminiLightBlue_RGB.svg">
          <h2 class="white">Step 5</h2>

          <body class="white">
              Provide a bit of magic so the Routing is actually using the Roles. (File: add-authorization-guards.ts)

              <pre style="margin: 0; width: 100%"><code class="hljs ts" data-trim>
                  export function addAuthorizationGuards(routes: Routes): Routes {
                    addAuthorizationGuardsToRoutesHavingPathsAndComponents(routes);
                    return routes;

                    function addAuthorizationGuardsToRoutesHavingPathsAndComponents(routesToGuard: Routes) {
                      for (const route of routesToGuard) {
                        if (route.path && route.component) {
                          route.canActivate = route.canActivate || [];
                          route.canActivate.push(ActivateIfUserAuthorized);
                        }
                        if (route.children) {
                          addAuthorizationGuardsToRoutesHavingPathsAndComponents(route.children);
                        }
                      }
                    }
                  }
            </code></pre>

          </body>
        </section>

        <section data-transition="slide" data-background-image="../common/img/shapes/Fixed_Shape_3_SVG/Fixed_Shape_3_CapgeminiLightBlue_RGB.svg">
          <h2 class="white">Step 6_1</h2>

          <body class="white">
             Now implement the overwritten guard.

              <pre style="margin: 0; width: 100%"><code class="hljs ts" data-trim>
@Injectable()
export class ActivateIfUserAuthorized implements CanActivate {
  constructor(private security: SecurityService, private router: Router) {}
   
  canActivate(route: ActivatedRouteSnapshot): Observable&lt;boolean&gt; | boolean {
    if (route && route.routeConfig && route.routeConfig['permitAll']) {
      return true;
    }
            </code></pre>

          </body>
        </section>

        <section data-transition="slide" data-background-image="../common/img/shapes/Fixed_Shape_3_SVG/Fixed_Shape_3_CapgeminiLightBlue_RGB.svg">
          <h2 class="white">Step 6_2</h2>

          <body class="white">
              <pre style="margin: 0; width: 100%"><code class="hljs ts" data-trim>
  if (route && route.routeConfig && route.routeConfig['authorizedRoles']) {
    const routeAuthorizedRoles: Role[] = route.routeConfig['authorizedRoles'];
    return this.security.getCurrentUserRoles().pipe(
      map((roles: Role[]) =>
        roles.reduce(
          (prev, role) => routeAuthorizedRoles.includes(role) || prev,
          false
        )
      ),
      catchError(() => of(false))
    );
  }
  return false;
  }
}
            </code></pre>

          </body>
        </section>

        <section data-transition="slide" data-background-image="../common/img/shapes/Fixed_Shape_3_SVG/Fixed_Shape_3_CapgeminiLightBlue_RGB.svg">
          <h2 class="white">Step 7</h2>

          <body class="white">
            Create a Security Service that returns the current User-Roles.

              <pre style="margin: 0; width: 100%"><code class="hljs ts" data-trim>
@Injectable()
export class SecurityService {

  currentRoles: Role[] = [Role.ADMIN, Role.ANONYMOUS];

  getCurrentUserRoles(): Observable&lt;Role[]&gt; {
    return of(this.currentRoles);
  }
}
            </code></pre>

          </body>
        </section>
        
        <section data-transition="slide" data-background-image="../common/img/shapes/Fixed_Shape_3_SVG/Fixed_Shape_3_CapgeminiLightBlue_RGB.svg">
          <h2 class="white">Step 8</h2>

          <body class="white">
            Now provide the Service and Guard. Then see if everything is working okay. Play with it changing the Roles that the Service returns.

              <pre style="margin: 0; width: 100%"><code class="hljs ts" data-trim>
                  providers: [BookService,
                  ActivateIfUserAuthorized,
                  SecurityService]          
            </code></pre>

          </body>
        </section>

        
        <section data-transition="slide" data-background-image="../common/img/shapes/Fixed_Shape_3_SVG/Fixed_Shape_3_CapgeminiLightBlue_RGB.svg">
          <h2 class="white">Step 9</h2>

          <body class="white">
            Provide a bar with a slider so one can switch the roles on and off. (File: app.component.html)

              <pre style="margin: 0; width: 100%"><code class="hljs ts" data-trim>
                  <mat-card class="admin-menu">Anonymous
                    <mat-slide-toggle>Admin</mat-slide-toggle>
                  </mat-card>
            </code></pre>
            and style it

            <pre style="margin: 0; width: 100%"><code class="hljs ts" data-trim>
                .admin-menu {
                  background-color: #3498db;
                }
          </code></pre>

          </body>
        </section>

        <section data-transition="slide" data-background-image="../common/img/shapes/Fixed_Shape_3_SVG/Fixed_Shape_3_CapgeminiLightBlue_RGB.svg">
          <h2 class="white">Step 10</h2>

          <body class="white">
              Import it in the app.module so it runs smoothly.

              <pre style="margin: 0; width: 100%"><code class="hljs ts" data-trim>
                  BookModule,
                  MatDialogModule,
                  MatSlideToggleModule
                ],
                entryComponents: [CanDeactivateDialogComponent],
            </code></pre>

          </body>
        </section>
        
        <section data-transition="slide" data-background-image="../common/img/shapes/Fixed_Shape_3_SVG/Fixed_Shape_3_CapgeminiLightBlue_RGB.svg">
          <h2 class="white">Step 11</h2>

          <body class="white">
            Make use of the slider!

              <pre style="margin: 0; width: 100%"><code class="hljs ts" data-trim>
                  <mat-card class="admin-menu">Anonymous
                    <mat-slide-toggle (change)="slideUpdate($event)">Admin</mat-slide-toggle>
                  </mat-card>
            </code></pre>

          </body>
        </section>
        
        <section data-transition="slide" data-background-image="../common/img/shapes/Fixed_Shape_3_SVG/Fixed_Shape_3_CapgeminiLightBlue_RGB.svg">
          <h2 class="white">Step 12</h2>

          <body class="white">
            Implement event handling

              <pre style="margin: 0; width: 100%"><code class="hljs ts" data-trim>
  slideUpdate(e: Event) {
    console.log('Changing App Roles');
    this.securityService.changeRoleTo(e['checked']);
  }
            </code></pre>

          </body>
        </section>

        <section data-transition="slide" data-background-image="../common/img/shapes/Fixed_Shape_3_SVG/Fixed_Shape_3_CapgeminiLightBlue_RGB.svg">
          <h2 class="white">Step 13</h2>

          <body class="white">
            Provide an implememntation to the Security Service.

              <pre style="margin: 0; width: 100%"><code class="hljs ts" data-trim>
        changeRoleTo(isAdmin: boolean) {
          if (isAdmin) {
            this.currentRoles = [Role.ADMIN];
          } else {
            this.currentRoles = [Role.ANONYMOUS];
          }
        }
      </code></pre>

    </body>
  </section>

      </section>

    </div>
  </div>


  <script src="../reveal.js-3.6.0/lib/js/head.min.js"></script>
  <script src="../reveal.js-3.6.0/js/reveal.js"></script>

  <script>
    // More info https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
      history: true,

      // More info https://github.com/hakimel/reveal.js#dependencies
      dependencies: [
        {
          src: '../reveal.js-3.6.0/lib/js/classList.js', condition: function () {
            return !document.body.classList;
          }
        },
        {
          src: '../reveal.js-3.6.0/plugin/highlight/highlight.js', async: true, callback: function () {
            hljs.initHighlightingOnLoad();
          }
        },
        { src: '../reveal.js-3.6.0/plugin/search/search.js', async: true },
        { src: '../reveal.js-3.6.0/plugin/zoom-js/zoom.js', async: true },
        { src: '../reveal.js-3.6.0/plugin/notes/notes.js', async: true }
      ]
    });
  </script>
</body>

</html>