extends layout.pug

block vars
  -var title = 'agenda'

block title
        | Agenda

block content      
        ul.no-bullet 
            li.fragment
               h3.white Learn
               ul      
                 li What is application state?
                 li What is Redux?
                 li How to write code with Redux?                                 
            li.fragment 
               h3.white Build
               ul      
                  li Live coding 
                  li Exercise        
            li.fragment 
               h3.white Feedback
               ul      
                  li Q&amp;A  
                  li Further learning           
