extends layout.pug

block vars
  -var title = 'agenapplicationstateda'           

block title
        | What is an application state?
block content      
        h3
        | All the data that an application needs at given moment:

        ul
            li.fragment To display UI of given structure and content (User Interactions and Input)
            li.fragment To perform some actions (Authentication Tokens)
            li.fragment To provide behaviour persistency (Server Responses)


