extends layout.pug 

block vars
  - var title = 'demo-step-3'
   

block title
        | Step 3
block content
      ul
        li Refactor BooksShelfComponent to use | async instead of subscribing to books
        li Extract books selection logic to store/selectors.ts, use createSelector function,
        li Write a unit test for your reducer        
