extends layout.pug 

block vars
  - var title = 'demo-step-8'

block title
        | Step 8
block content
      ul
        li Go to your reducer and clear items in the initial state,
        li Go to books-shelf.component.html and hide div.collection_container when books are not loaded with *ngIf
        li Add there a notification that books are loading



