extends layout.pug 

block vars
  - var title = 'demo-step-2'
  - var bgImg ='../common/img/shapes/Fixed_Shape_2_SVG/Fixed_Shape_2_CapgeminiBlue_RGB.svg'

block title
        | Step 2
block content
      ul
        li Inject Store<NgrxModuleState> to the BooksShelfComponent
        li Use the store to render books in BooksShelfComponent:
           ul
             li Stop using the service in getData
             li Fetch all books from the store using select operator,
             li Temporarily subscribe to the store and assign them to the existing books field
             li Map the book collection to a filtered one, based on this.mode (if set)
