extends layout.pug 

block vars
  - var title = 'demo-step-6'
  - var bgImg ='../common/img/shapes/Fixed_Shape_2_SVG/Fixed_Shape_2_CapgeminiBlue_RGB.svg'

block title
        | Step 6
block content
      ul
        li Install @ngrx/store-devtools
        li Install in your web browser the 
           a(href="http://zalmoxisus.github.io/redux-devtools-extension/" target='_blank')
              | Redux Devtools Extension
        li Wire-up 
          | StoreDevToolsModule.instrument({ maxAge: 25 }) with your module