extends layout.pug 

block vars
  - var title = 'demo-step-4-2'
  - var bgImg ='../common/img/shapes/Fixed_Shape_2_SVG/Fixed_Shape_2_CapgeminiBlue_RGB.svg'

block title
        | Step 4 (2 of 2)
block content

        ul          
          li Test the reducer (think of it as comparing state after passing an action with expected state)
          li Dispatch the update action on book move (BookShelfComponent)
