extends layout.pug 

block vars
  - var title = 'effects'
  - var bgImg ='../common/img/shapes/Fixed_Shape_2_SVG/Fixed_Shape_2_CapgeminiBlue_RGB.svg'

block title       
        | Redux Schema With Effects
block content
         img(src="img/schema-effects.png")  