extends layout.pug 

block vars
  - var title = 'excercise-1'
  - var bgImg ='../common/img/shapes/Fixed_Shape_2_SVG/Fixed_Shape_2_CapgeminiBlue_RGB.svg'

block title
        | Excercise 1
block content
        p Implement adding new book: 
        ul 
          li Create AddBook action 
          li Handle the action in the reducer 
          li Dispatch the action in BooksShelfComponent
