extends layout.pug 

block vars
  - var title = 'learn-more'

block title
        | Learn more
block content
       ul
            li 
              a(href="https://redux.js.org/" target="_blank")
                | redux.js.org
            li 
              a(href="https://ultimateangular.com/" target="_blank")
                | NGRX State Management - ultimateangular.com
            li 
              a(href="https://egghead.io/courses/getting-started-with-redux" target="_blank")
                | Getting Started with Redux
            li 
              a(href="https://www.youtube.com/watch?v=6Z-1v1UnoM8" target="_blank")
                | Todd Motto - Understand NGRX by building a Store - Keynote

              