extends layout.pug

block vars
  -var title = 'principles'

block title
        | Three Principles of Redux

block content      
        ul
            li.fragment Single Source of Truth

            li.fragment State is read only

            li.fragment Changes are made with pure functions (i.e. reducers)




