extends layout.pug

block vars
  -var title = 'redux'

block title
        | What is Redux?
block content      
        ul
            li.fragment Simple, reliable and scalable application architecture (e.g. Facebook)

            li.fragment Small set of building blocks used to manage application state

            li.fragment A way of thinking about where to put business logic



