extends layout.pug 

block vars
  - var title = 'schema'
  - var bgImg ='../common/img/shapes/Fixed_Shape_2_SVG/Fixed_Shape_2_CapgeminiBlue_RGB.svg'

block title       
        | General Redux Schema
block content
         img(src="img/schema.png")  