extends layout.pug 

block vars
  - var title = 'simple-example'

block title
        | Simple Example
block content
        a(href="https://codepen.io/anon/pen/MGMWPQ" target="_blank")
            | Codepen           
